<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>821785650240-ni8sv1964ta7965nbql2jvfda5sgc6ia.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.821785650240-ni8sv1964ta7965nbql2jvfda5sgc6ia</string>
	<key>API_KEY</key>
	<string>AIzaSyCwyEOff26Y7suT33c-z_4Uv7Jv0CehCIg</string>
	<key>GCM_SENDER_ID</key>
	<string>821785650240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cleandev.EvaVoiceCommands</string>
	<key>PROJECT_ID</key>
	<string>evacorp-f4dea</string>
	<key>STORAGE_BUCKET</key>
	<string>evacorp-f4dea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821785650240:ios:d3f2c588862692b8</string>
	<key>DATABASE_URL</key>
	<string>https://evacorp-f4dea.firebaseio.com</string>
</dict>
</plist>